css

label
{
  height: 50px;
  width: 300px;
  font-size: 3.5em;
}
input
{
height: 20px;
width: 2000px;
}

h1{
    position:relative ;
 }
 input .ff{
    background-color:rgb(0, 157, 255) ;
    color: white;
    padding:6px 10px;
    margin: 6px 0;
    cursor: pointer;
    border: none;
    width: 100%; 
    opacity: 0.9;
  }